config/tmp-enc/key.txt
config/tmp-enc/tap-sensitive-values.yaml
config/tanzu-cluster-essentials/
config/tanzu-cluster-essentials-*.tgz
tanzu-gitops-ri-*.tgz
config/values.yaml
config/ca.crt
*.tgz
*.tar
airgapped-files/*
cert/*